
.modal-form-errors.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				h4.modal-title Ups!
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				| Parece que hubo un problema.
				ul
			.modal-footer
				button(data-dismiss="modal").btn.btn-primary Aceptar